@use './colors.scss';
@use './font.scss';

@mixin cardDet {
    @include font.fontSemiBld;
    font-size: 14px;

    span {
        @include font.fontReg;
    }
}

.cardsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    margin: 1.5rem 0rem;
    border-radius: 0.5rem;
    width: 15rem;
    filter: drop-shadow(0px 5px 10px #3d3d3d3d);

    .cardFlag {
        width: 100%;
        height: 9rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        overflow: hidden;

        img {
            width: 15rem;
            height: 9rem;
            object-fit: cover;
        }
    }

    .cardName {
        margin: 1.5rem 1.5rem 1rem 1.5rem;
        @include font.fontExBld;
        font-size: 16px;
    }

    .cardPop, .cardReg, .cardCap {
        @include cardDet();
        margin-left: 1.5rem;
        margin-bottom: 0.3rem;
    }

    .cardCap {
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 700px) {
    .cardsContainer {
        width: 96%;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin: 1.5rem 1rem;
    }
}