@use './colors.scss';
@use './font.scss';

.Search {
    margin: 2rem 1rem 2rem 1rem;
    display: flex;
    justify-content: center;

    input {
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        padding: 1.2rem;
        text-indent:3.5rem;
        background-position: 2rem;
        background-size: 1.2rem;
        background-repeat: no-repeat;
        font-size: 14px;
        @include font.fontReg;
        filter: drop-shadow(0px 5px 10px #3d3d3d3d);
    }
}

.lightSearch {
    background-color: colors.$lgtMdEle;
    color: colors.$lgtMdIput;
    background-image: url(./icons/search-outline.svg);
}

.darkSearch {
    @include colors.darkMode();
    background-image: url(./icons/search-outline-dark.svg);
}

@media (min-width: 700px) {
    .Search {
        width: 40%;
        justify-content: normal;
        margin: 2rem 0;
        input {
            width: 100%;
        }
    }
}